{{ $quicklinkjs := resources.Get "js/quicklink.umd.js" }}
{{ $gitalkjs := resources.Get "js/gitalk.min.js" }}
{{ $bundlejs := slice $quicklinkjs $gitalkjs | resources.Concat "js/bundle.js" | resources.Fingerprint }}
<script type="text/javascript" src="{{ $bundlejs.Permalink }}" integrity="{{ $bundlejs.Data.Integrity }}"></script>
<script>
  quicklink({
    ignores: [uri => uri.includes('index.xml')]
  });
  var gitalk = new Gitalk({
    clientID: '55e093209298d48e9bb2',
    clientSecret: 'f73550e6f3106846754c633ae6ad5c2f52acbbef',
    repo: 'blog',
    owner: 'HigherSY',
    admin: ['HigherSY'],
    id: location.pathname,
    distractionFreeMode: false
  })
</script>
{{ $gitalkstyle := resources.Get "css/gitalk.css" | resources.Fingerprint }}
<link rel="stylesheet" href={{ $gitalkstyle.Permalink }} integrity={{ $gitalkstyle.Data.Integrity }}>
